body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

canvas {
    display: block;
}

#controls {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;

    border: 1px solid #fff;
}

input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #555;
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;
}

button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    display: block;
}